*{
    margin:0px;
}

Html, body{
     width: 1400px;
}

#principal{
    display:block;
}
/*Mapa*/
#mapid{
    width:100%;
    height: 1246px;
    z-index: 0;
}


/*Topo */

#topo{
    background-image: url("../img/pattern-bg.png");
    width: 100%;
    height: 250px;
}

header h1{
    font-size: 30pt;
    font-family:Arial, Helvetica, sans-serif;
    Color: white;
}
#topo header{
    text-align: center;
    padding: 10px;
}




#topo div form{
    display: inline-flex;
}

#topo div input{
    outline: none;
    height: 50px;
    border:1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 550px;
    text-align: center;
    font-size: 19pt;
    font-family: arial;
}   


div form #seta{
    width:39px;
    background-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    cursor: pointer;
}

form #seta img{
    margin: auto;
}


/*Meio*/
div#info{
    width: 62%;
    height: 154px;
    background-color: white;  
    position: absolute;
    margin-top:-133px;
    margin-left:18%;
    z-index: 1;    
    border: 1px solid black;
    border-radius: 28px;
    display: grid;
}


div#info div{
    grid-row: 1;
}
#info div.espaco{
    margin:42px;
}

.linha{
    height: 100px;
    border-left: 1px solid #dcd9d9;
    margin-top: 19px;
}

.titulos{
    color: #949494;
    font-size: 10pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:-10px
}

.conteudo{
    color: black;
    font-size: 15pt;
    font-family: arial;
    margin-top: 12px;
}

/*
====================================
========== M E D I A S =============
====================================
*/

/*Tela de Smartphone 320px ou menor*/
@media (max-width: 320px){
    #topo header
    {
        margin-right: 10%;
        padding: 80px;
    }

    div#info{
        top: 105%;
        left: 17%;
        width: 325%;
    }


       /*Eu dei um margi na area "espaço" em cima e em baixo */
   #info div.espaco
   {
       margin: 25px 0px;
   }

   /*Diminuo fonte*/
   .titulos{
    font-size: 32pt;
   }

   /*Diminuo fonte*/
   .conteudo{
    font-size: 40pt;
   }

    /*Diminuo fonte*/
   header h1 {
        font-size: 63pt;
    }   

    #topo div input{
        font-size: 42pt;
        height: 149px;
    }
}


/*Tela de Smartphone 321px e 375px*/
@media (min-width: 321px) and (max-width:375px)
{
        /*Área do conteúdo*/
    div#info{
        top: 105%;
        left: 17%;
        width: 300%;
    }

       /*Eu dei um margi na area "espaço" em cima e em baixo */
   #info div.espaco
   {
       margin: 29px 0px;
   }

   /*Diminuo fonte*/
   .titulos{
    font-size: 27pt;
   }

   /*Diminuo fonte*/
   .conteudo{
    font-size: 40pt;
   }

    /*Diminuo fonte*/
   header h1 {
        font-size: 63pt;
    }   

    #topo div input{
        font-size: 42pt;
        height: 149px;
    }
}


/*Tela de Smartphone 376px ou 425px*/
@media (min-width: 376px) and (max-width: 425px)
{
    /*Altero área das informações*/
    div#info{
        width: 300%;
    }
       /*Eu dei um margi na area "espaço" em cima e em baixo */
   #info div.espaco
   {
       margin: 29px 0px;
   }

   /*Diminuo fonte*/
   .titulos{
    font-size: 23pt;
   }

   /*Diminuo fonte*/
   .conteudo{
    font-size: 40pt;
   }

    /*Diminuo fonte*/
   header h1 {
        font-size: 63pt;
    }   

    #topo div input{
        font-size: 42pt;
        height: 149px;
    }
}



@media (min-width: 426px) and ( max-width: 768px)
{

    #topo 
    {
        height: 701px;
    }
    div#info {
        width: 135%;
        height: 601px;
        left: 25%;
        top: 63%;
        height: 183px;
        margin: 0%;
    }

    /*Aumento espaço de dentro doss conteuúdos*/
    #info div.espaco{
        margin:63px;
    }

   /*Eu dei um margi na area "espaço" em cima e em baixo */
   #info div.espaco
   {
       margin: 29px 0px;
   }

   /*Diminuo fonte*/
   .titulos{
    font-size: 23pt;
   }

   /*Diminuo fonte*/
   .conteudo{
    font-size: 40pt;
   }

    /*Diminuo fonte*/
   header h1 {
        font-size: 63pt;
    }   

    #topo div input{
        font-size: 42pt;
        height: 149px;
    }
}


/*Tela de tablet 769px ou menor*/
@media (max-width: 768px)
{
    body{
        overflow-x:hidden;
    }


    /*Adaptei o input para o mobile*/
    #topo div input {
        border-top-left-radius: 31px;
        border-bottom-left-radius: 31px;
        width: 950px;
        font-size: 46pt;
    }

    /*Ajeitei a area que contem todos os espacos */
    div#info {
        height: 599px;
        text-align: center;
    }



    /*Ajeitei a largura e borda do conteiner(div) que contem a seta*/
    div form #seta {
    width: 104px;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
    }

    /*Aumentei a imagem da seta*/
    #seta img{
        width: 50px;
    }

    /*Reitirei as linhas laterais*/
    div.linha{ 
        display: none;
    }

    /*Enfileirei os espacos*/
    div#info{
        display: block;
    }



    /*Aumentei letra do conteudo*/
    .conteudo{
        font-weight: 600;
    }

    /*Retirei o mapa para que possam usar o touch*/
    div.leaflet-control-zoom 
    {
        display: none;
    }
}